<div class='container-fluid'>
  <div class="row">
      <div class="col-md-12">
          <div id="head">
              <div class="row">
                  <div class="col-sm-12">                        
                       <!-- <img src="assets/img/ehuse700.png" />  -->
                      <div style="background-color:azure">WELCOME</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="main" class='row'>
      <div class='col-md-12 menu'>
          <!-- <nav-menu></nav-menu> -->
      </div>
      <div class='col-sm-9 body-content'>

            <router-outlet></router-outlet>
      </div>
  </div>
</div>