<div class='container-fluid'>
  <div class="row">
      <div class="col-md-12">
          <div id="head" style="background-color:azure">
              <div class="row">
                  <div class="col-sm-12">                        
                       <img src="assets/img/ehuse700.png" /> 
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
 <div class="row">
    <div class='col-md-12 menu'>
        <app-nav></app-nav>
      
    </div>
 </div>
  <div id="main" class='row'>
     
      <div class='col-sm-9 body-content'>

            <router-outlet></router-outlet>
      </div>
  </div>
</div>