	
			<div class="register">
				<div class="panel_heading">Register</div>
				<div class="register_container">
					<form (ngSubmit)="signupUser(register)" #register="ngForm">
						{{register.name}}
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Your Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" ngModel name="name" id="name"   placeholder="Enter your Name"/>
								</div>
							</div>
							<div class="alert alert-danger" role="alert" 
							*ngIf="!register.FirstName.valid && register.FirstName.title.touched">
						   You must enter a title
					   </div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input ngModel type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input ngModel type="text" class="form-control" name="userName" id="userName"  placeholder="Enter your Username"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input ngModel type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input ngModel type="password" ngModel class="form-control" name="confirmPassword" id="confirmPassword"  placeholder="Confirm your Password"/>
								</div>
							</div>
						</div>

						<div class="register_action">
							<button >Register</button>
							<button (click) ="naviagteToLogin()">Login</button>
						</div>						
					</form>
				</div>
			</div>
	