	
			<div class="register">
				<div class="panel_heading">Register</div>
				<div class="register_container">
					<form class="form-horizontal" [formGroup] = "signupForm">
						
						<div class="form-group" >
							<label for="lfirstName" class="cols-sm-2 control-label required">First Name</label>							
							<div class="col-sm-12" >								
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" id="FirstName" class="form-control" formControlName= "FirstName"    placeholder="Enter your first name"/>
									<field-error-display 
									[displayError]="isFieldValid('FirstName')" 
									errorMessage="Please enter your first name">
								  </field-error-display>																	 
								
							</div>	
													
						</div>

						<div class="form-group" >
								<label for="lastName" class="cols-sm-2 control-label required">Last Name</label>							
								<div class="col-sm-12" >								
										<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
										<input type="text" id="lastName" class="form-control"formControlName="lastName"   placeholder="Enter your last name"/> 
										<field-error-display 
										[displayError]="isFieldValid('lastName')" 
										errorMessage="Please enter your last name">
									  </field-error-display>																	 
									
								</div>															
							</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label required">Your Email</label>
							<div class="col-sm-12">								
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" formControlName="email"   placeholder="Enter your Email"/>
									<field-error-display 
									[displayError]="isFieldValid('email')" 
									errorMessage="Please enter your email">
								  </field-error-display>								
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label required">Username</label>
							<div class="col-sm-12">							
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input  type="text" class="form-control" formControlName="userName"   placeholder="Enter your Username"/>
									<field-error-display 
									[displayError]="isFieldValid('userName')" 
									errorMessage="Please enter your user name">
								  </field-error-display>
								
							</div>
						</div>

						<div class="form-group">
								<label for="mobileNumber" class="cols-sm-2 control-label required">Mobile Number</label>
								<div class="col-sm-12">									
										<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
										<input  type="text" class="form-control" formControlName="mobileNumber"  placeholder="Enter your mobile Number"/>
										<field-error-display 
										[displayError]="isFieldValid('mobileNumber')" 
										errorMessage="Please enter your mobile number">
									  </field-error-display>
									
								</div>
							</div>
	


						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label required">Password</label>							
								<div class="col-sm-12">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" formControlName="password"  placeholder="Enter your Password"/>
									<field-error-display 
									[displayError]="isFieldValid('password')" 
									errorMessage="Please enter your password">
								  </field-error-display>
								
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label required">Confirm Password</label>
							<div class="col-sm-12">								
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword"  placeholder="Confirm your Password"/>
									<field-error-display 
									[displayError]="isFieldValid('confirmPassword')" 
									errorMessage="Please enter your confirm password">
								  </field-error-display>
								
							</div>
						</div>

						<div class="register_action">
							<!-- [disabled] = "!signupForm.valid" if you want to disabled  -->
							<button  (click)="signupUser()"  >Register</button>
							<button (click) ="naviagteToLogin()">Login</button>
						</div>						
					</form>
				</div>
			</div>
	